.DS_Store
.idea/
.venv/
.build/
dist/
*.log
*.pyc
__pycache__/

backend/.venv/
backend/output/*.xlsx
backend/__pycache__/

frontend/node_modules/
frontend/dist/
frontend/public/rts.png

packaging/windows/*_副本.ps1
rts.png
